.minecraft/.mixin.out
.minecraft/.probe
.minecraft/.vscode

# Configs
.minecraft/config/spark/tmp
.minecraft/config/spark/tmp-client
.minecraft/config/sodium-fingerprint.json
.minecraft/config/xaeropatreon.txt

.minecraft/coremods/
.minecraft/crash-reports/

# Default configs
#.minecraft//defaultconfigs/

.minecraft/downloads/

# KubeJS
.minecraft/kubejs/assets/kubejs/textures/block/example_block.png
.minecraft/kubejs/config/probe-settings.json

.minecraft/local/
.minecraft/logs/
.minecraft/mods/*
#!.minecraft/mods/.index

# Save directories
.minecraft/saves/**/advancements
.minecraft/saves/**/stats
.minecraft/saves/**/playerdata
.minecraft/saves/**/computercraft
.minecraft/saves/**/data
.minecraft/saves/**/serverconfig
.minecraft/saves/**/ftbquests
.minecraft/saves/**/ftbchunks
.minecraft/saves/**/ftbteams/player/*.snbt
.minecraft/saves/**/ftbteams/ftbteams.snbt

.minecraft/saves/**/*.png
.minecraft/saves/**/*.nbt
.minecraft/saves/**/*.dat*
.minecraft/saves/**/*.mca
.minecraft/saves/**/*.lock
.minecraft/saves/**/xaeromap.txt

.minecraft/screenshots/
.minecraft/resourcepacks
.minecraft/server-resource-packs
.minecraft/shaderpacks
.minecraft/texturepacks

# Xaero's world map
.minecraft/xaero/world-map
XaeroWaypoints*

command_history.txt
usernamecache.json
usercache.json
